//@import "styles/width";
//@import "styles/height";
@import "styles/align";
@import "styles/others";
@import "styles/colors";
@import "styles/effects";
@import "styles/spacings";

.social-media {
	li {
		margin: 2px;
		border-radius: 50%;
		&:first-child {
			//@extend .outline;
			margin-left: 0;
		}
		&:last-child {
			//@extend .outline;
			margin-right: 0;
		}
		&:hover {
			box-shadow: 0 2px 5px mix(#fff, #000, 35);
		}
	}
}
