.aline {
	&-center {
		display: flex;
		align-items: center;
		justify-content: center;
		&-v {
			display: flex;
			align-items: center;
		}
		&-h {
			display: flex;
			justify-content: center;
		}
	}
	&-left {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
}