@import "~bootstrap/scss/mixins";

.bg {
	&-blue {
		background: $color-blue-corp;
	}
	&-success {
		&-h {
			@extend .bg-success;
			&:hover {
				box-shadow: 0 2px 5px mix(#fff, #000, 35);
			}
		}
		&-sm {
			@extend .bg-success;
			@include media-breakpoint-down(sm) {
				background: none !important;
			}
		}
	}
	&-primary {
		&-h {
			@extend .bg-primary;
			&:hover {
				box-shadow: 0 2px 5px mix(#fff, #000, 45);
			}
		}
		&-sm {
			@extend .bg-primary;
			@include media-breakpoint-down(sm) {
				background: none !important;
			}
		}
	}
}

.text {
	&-blue {
		color: $color-blue-corp;
	}
	&-white {
		color: #fff;
		&-md {
			@include media-breakpoint-up(md) {
				color: #fff !important;
			}
		}
	}
}

.navbar- {
	&blue {
		@include mx-gen-color-link($color-blue-corp);
	}
	
}