@import "../../base/config";

.outline {
	outline: 1px solid red;
}

.bg- {
	&blue {
		background: $color-blue-corp;
	}
	&success {
		&-sm {
			@extend .bg-success;
			@include media-breakpoint-down(sm) {
				background: none !important;
			}
		}
	}
	&primary {
		&-sm {
			@extend .bg-primary;
			@include media-breakpoint-down(sm) {
				background: none !important;
			}
		}
	}
}

.color {
	&-white {
		&-md {
			@include media-breakpoint-up(md) {
				color: #fff !important;
			}
		}
	}
}

.navbar- {
	&blue {
		@include mx-gen-color-link($color-blue-corp);
	}
	
}

.border {
	&-bottom {
		border-bottom: 2px solid $color-blue-corp;
	}
	&-radius {
		border-radius: .25rem;
		&-left {
			border-top-left-radius: .25rem;
			border-bottom-left-radius: .25rem;
		}
		&-right {
			border-top-right-radius: .25rem;
			border-bottom-right-radius: .25rem;
		}
	}
}

.line-hover {
	&:after {
		content: '';
		display: inline-block;
		position: absolute;
		bottom: 0;
		opacity: 0;
		left: 50%;
		height: 1px;
		width: 0;
		background: $color-blue-corp;
		transition: all .2s;
	}
	position: relative;
	&:hover {
		&:after {
			left: 0;
			opacity: 1;
			width: 100%;
		}
	}
}

