@import "../../base/config";

.outline {
	outline: 1px solid red;
}

.shadow {
	box-shadow: 0 1px 8px #282828;
}

.list {
	&-no-style {
		li {
			list-style: none;
		}
	}
}

.hidden {
	&-sm {
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}
}
