@import "../../base/config";

.outline {
	outline: 1px solid red;
}

.border {
	&-bottom {
		border-bottom: 2px solid $color-blue-corp;
	}
	&-radius {
		border-radius: .25rem;
		&-left {
			border-top-left-radius: .25rem;
			border-bottom-left-radius: .25rem;
		}
		&-right {
			border-top-right-radius: .25rem;
			border-bottom-right-radius: .25rem;
		}
	}
}

.list {
	&-no-style {
		display: inline-flex;
		flex-wrap: wrap;
		li {
			list-style: none;
		}
	}
}

.hidden {
	&-sm {
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}
}
