.title {
	&-h1 {
		background: $color-blue-corp;
		font-size: 1.55em;
		color: #fff;
		text-transform: uppercase;
	}
	&-h2 {
		display: flex;
		font-size: 1.35em;
		h2 {
			font-weight: 500;
			align-self: center;
			color: $color-blue-corp;
		}
	}
}