@function fn-gen-grid_value($num,$tyle) {
	$return: '';
	@if ($tyle == 'num') {
		$return: '';
		@for $i from 1 through $num {
			$return: '#{$return} 1fr';
		}
	} @else if ($tyle == 'auto') {
		$return: '';
		@for $i from 1 through $num {
			$return: '#{$return} auto';
		}
	}
	@return unquote($return);
}