@import "functions";

@mixin mx-gen-color-link($color) {
	$navbar-dark-active-color: $white !default;
	.navbar-nav {
		.nav-link {
			color: rgba($color, .5);
			@include hover-focus {
				color: rgba($color, .75);
			}
			&.active {
				color: rgba($color, 1);
				font-weight: bold;
			}
			&.disabled {
				color: rgba($color, .25);
			}
		}
	}
}